@charset "utf8";

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(13, 97, 97);
    color: white;
    font: normal 20pt Arial;
}
h1 {
    color: rgb(245, 134, 7);
    background-color: rgba(0, 0, 0, 0.678);
    padding: 10px;
    min-width: 200px;
    box-shadow:1px 5px 5px rgba(0, 0, 0, 0.432);
    text-align: center;
}
header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 50px;
    margin-bottom: 5px;
        
}

.addtarefa{
    height: 30px;
    width: 200px;
    padding: 2px;
    border: 2px;
    border-radius: 4px;
    margin: 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.37);
    outline: none;
}
.btnadicionar{

    height: 34px;
    border: 2px;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    background-color: orange;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.37);
}


main{
   
    margin-left: 50px;
    width: 25%;
    padding-top: 20px;
    height: 60px;
   
}

.lista{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.329);
    background-color: rgb(255, 255, 255);
}
.lista.clicado{
    background-color: #d4f6d9;
}
.lista.clicado .texto{
    text-decoration: line-through;
    color: gray;
    background-color: #d4f6d9;
}
.icone{
    display: flex;
    flex: auto;
    margin-left: 15px;
    text-align: center;
    margin-right: 2px;
    color: black;
   
}
.texto{
    display: flex;
    font-size: 18px;
    color: black;
    background-color: white;
    font-weight: bold;
    flex: 50%;
    
}
.botao{
    height: 30px;
    margin-right: 3px;
        
    
}
.mdi-check-circle{
    color: green;
}






